<%= link_to t('shared.all.crs_back'), course_enrollments_path(course_id: @course.id)%>
<div class="enrollment show">
  <h2>Student list</h2>
  <table summary="Course detail view">
    <tr>
      <th>Students</th>
      <th><%= t('shared.all.createdat') %></th>
      <th><%= t('shared.all.updatedat') %></th>
    </tr>
      <% @course_enrollments.each do |course_enrollment| %>
        <tr>
          <td><%= course_enrollment.student_id%>
          <td><%= course_enrollment.created_at %>
          <td><%= course_enrollment.updated_at %>
          </td>
        </tr>
    <% end %>
  </table>
</div>
