<div class="department index">
  <h2>Departments</h2>
  <%= link_to("Add New Departments", new_department_path) %>
  <br /><br />
  <table class="listing" summary="Department List">
    <tr class="header">
      <th>Serial No.</th>
      <th class="center">Department Name</th>
      <th class="center">Description</th>
      <th class="center">Head Name</th>
      <th class="center">Capacity</th>
      <th class="center">Actions</th>
    </tr>
    <% @departments.each do |department| %>
        <tr>
          <td><%= department.position %></td>
          <td><%= department.name %></td>
          <td><%= department.description %></td>
          <td><%= department.head_name %></td>
          <td><%= department.capacity %></td>
          <td class="actions">
            <%= link_to("Show", department_path(department)) %>
            <%= link_to("Edit", edit_department_path(department)) %>
            <%= link_to("Delete", delete_department_path(department)) %>
          </td>
        </tr>
    <% end %>
  </table>
</div>
