<%= link_to t('shared.all.dept_back'), departments_path(:school_id => @school.id) %>
<div class ="departments new">
  <h2><%= t('departments.all.dept_new') %></h2>
  <%= simple_form_for @department, :url => departments_path(:school_id => @school.id) do |f| %>
      <%= f.error_notification %>
      <%= f.hidden_field :school_id, :school_id => @school.id  %>
      <%= f.input :name %>
      <%= f.input :position %>
      <%= f.input :head_name %>
      <%= f.input :description %>
      <%= f.input :capacity %>
      <%= f.button :submit %>
  <% end %>
</div>
