<%= link_to("<< Back to Departments", departments_path) %>
<div class ="departments new">
  <h2>Create New Department</h2>
  <%= simple_form_for @department do |f| %>
      <%= f.error_notification %>
      <%= f.input :name %>
      <%= f.input :position %>
      <%= f.input :head_name %>
      <%= f.input :description %>
      <%= f.input :capacity %>
      <%= f.button :submit %>
  <% end %>
</div>
