<%= link_to t('shared.all.sch_back'), schools_path %>
<div class ="schools delete">
  <h2><%= t('schools.all.sch_delete') %></h2>
  <%= simple_form_for(@school, method: 'delete') do |f| %>
      <p class="center"><%= t('schools.all.sch_delete_message') %></p>
      <p class="reference-name, center" ><%= f.object.name %></p>
       <%= f.submit t('schools.all.sch_delete') %>
  <% end %>
</div>
