<div class="school index">
  <h2> Schools </h2>
  <%= link_to("Add New Schools", new_school_path) %>
  <br /><br />
  <table class="listing" summary="School List">
    <tr class="header">
      <th>Serial No.</th>
      <th class="center">School Name</th>
      <th class="center">Dean Name</th>
      <th class="center">Actions</th>
    </tr>
    <% @schools.each do |school| %>
        <tr>
          <td><%= school.position %></td>
          <td><%= school.name %></td>
          <td><%= school.dean_name %></td>
          <td class="actions">
            <%= link_to("Show", school_path(school)) %>
            <%= link_to("Edit", edit_school_path(school)) %>
            <%= link_to("Delete", delete_school_path(school)) %>
          </td>
        </tr>
    <% end %>
  </table>
</div>
