<%= link_to("<< Back to Schools", schools_path, :class => 'back-link') %>

<div class ="schools new">
  <%= simple_form_for @school do |f| %>
      <%= f.error_notification %>

      <%= f.input :name %>
      <%= f.input :dean_name %>
      <%= f.input :position %>

      <%= f.button :submit %>
  <% end %>
</div>